body {
font-family: Georgia, 'Times New Roman', Times, serif;
background: linear-gradient(180deg, #0a4e9c, #0f3a6d);
margin: 0;
text-align: center;
color: #ffffff;
}


.logo img {
width: 235px;
margin-top: 20px;
filter: drop-shadow(0 3px 8px rgba(0,0,0,0.3));
}


h1 {
font-size: 42px;
margin-bottom: 10px;
font-weight: bold;
text-shadow: 0 3px 7px rgba(0,0,0,0.4);
}


p {
font-size: 18px;
line-height: 1.6;
width: 80%;
max-width: 900px;
margin: 0 auto;
}


h2 {
font-size: 30px;
margin-top: 15px;
color: #0a4e9c;
text-shadow: 0 2px 4px rgba(0,0,0,0.25);
}


.container, .evento {
background: linear-gradient(to right, #bcd6ff, #ffffff);
width: 80%;
max-width: 900px;
margin: 30px auto;
padding: 25px;
border-radius: 18px;
box-shadow: 0 6px 20px rgba(0,0,0,0.25);
color: #0a4e9c;
}


.evento ul {
list-style: none;
padding: 0;
font-size: 20px;
line-height: 1.8;
}


.date {
font-weight: bold;
color: #061f53;
}


footer {
    background-color: #09234b;
    width: 100%;
    color: #ffffff;
    padding: 12px;
    margin-top: 30px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.25);
}