body {
font-family: Georgia, 'Times New Roman', Times, serif;
background-color: #0a4e9c;
text-align: center;
}

h1 {
font-size: 33px;
    font-weight: bold;
        color: #ffffff;
}

h2 {
    margin-top: 27px;
}


#mission-statement {
    color: #220e7a;
}

#upcoming-events {
color: #09234b;
text-align: center;
}
        #contact {
            color: #9ac0eb;
            padding: 15px;
        }
        .outdoor {
            background-color: #c4d7ff;
            align-items: center;
            padding: 37px;
        }
        .date {
            font-weight: bold;
            color: rgb(7, 26, 87);
            text-align: center;
        }
        /* .section {
            background-color: #f8f3f3;
            padding: 10px;
        } */

    
.escola{
    size-adjust: unset;
    width: 100%;
}

.container{
    display: flex;
    background: linear-gradient(to right, #b2d1ff, #ffffff);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 15px;
    border-radius: 12px;
    color:#0a4e9c
}

.branco {
    color:#ffffff
}

.evento{
    display: flex;
    background: linear-gradient(to right, #b2d1ff, #ffffff);
    padding: 7px;
    flex-direction: column;
    color:#0f437e;
    border-radius: 12px;
    text-align: center;
}

footer{
background-color: #09234b;
width: auto;
height: auto;
color:#ffffff;
padding: 5px;
gap: 20px;
}
